html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

@media (min-width: 992px) {
  .no-scrollbar::-webkit-scrollbar {
    width: 0px;
  }
}
